body {
  background: rgb(247, 244, 244);
  color: rgb(8, 6, 20);
}

nav {
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

nav a{
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 18px;
  padding: 10px;
}

nav a:hover{
  color: orange;
}

nav .logo{
  margin-right: auto;
  padding-left: 10px;
}

footer{
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: gray;
  border-top: 1px solid #ebebeb;
}

a{
  text-decoration: none;
}